body{
  background-color:whitesmoke;
  overflow-x: hidden;
}
h1{
  color:black;
  font-size: 22px;
}
p{
  font-size: 20px;
}

.navbar-brand{
  font-family: 'Macondo Swash Caps', cursive;
  color: red;
  font-size: 30px;
}

.title{
  font-family: 'Special Elite', cursive;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

}

.card button:hover {
  opacity: 0.7;
}


#modalQuickView .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

#modalQuickView.price {
  color: grey;
  font-size: 22px;
}

#modalQuickView .card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#modalQuickView .card button:hover {
  opacity: 0.7;
}

.searchBar{
  width: 200vh;
}
.searchBar input{
  background: gray;
  color: beige;
}
.searchBar ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

@media only screen and (max-width: 1680px) {
  .searchBar{
    width: 100vh;
  }
}
@media only screen and (max-width: 900px) {
  .searchBar{
    width: auto;
  }
}

